name: pre-workflow

on:
  push:
    branches:
      - master

jobs:
  node-docker-job:
    runs-on: ubuntu-latest
    # services:
    #   app:
    #     image: itismelmir/multi-server
    #     ports:
    #       - 3001:3000

    steps:
      - name: Log node -v
        run: |
          node -v 
          cat /etc/os-release

      - name: git action checkout
        uses: actions/checkout@v2
      
      - name: create ssh file
        run: |
          mkdir -p ~/.ssh
          ls -la
          echo "${{ secrets.PVT_KEY_DO_SSH }}" > ~/.ssh/dokey
          chmod 600 ~/.ssh/dokey
          cd .ssh
          ls -la
          cd ..
      
      - name: terraform setup
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.14.8

      - run: terraform init

      - name: tf plan
        id: plan
        run: terraform plan -var 'do_token=${{ secrets.DO_TOKEN }}' -var 'pvt_key=~/.ssh/dokey'

      - name: tf apply
        id: apply
        run: terraform apply -auto-approve -var 'do_token=${{ secrets.DO_TOKEN }}' -var 'pvt_key=~/.ssh/dokey'
      
      # - run: echo ${{ steps.plan.outputs.stdout }}
      # - run: echo ${{ steps.plan.outputs.stderr }}
      # - run: echo ${{ steps.plan.outputs.exitcode }}