name: pre-workflow

on:
  push:
    branches:
      - master

jobs:
  node-docker-job:
    runs-on: ubuntu-latest
    # services:
    #   app:
    #     image: itismelmir/multi-server
    #     ports:
    #       - 3001:3000

    steps:
      - name: Log node -v
        run: |
          node -v 
          cat /etc/os-release

      - name: git action checkout
        uses: actions/checkout@v2
      
      - name: terraform setup
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.14.8

      - run: terraform init

      - id: plan
        run: terraform plan -var 'do_token=$(DO_TOKEN)' -var 'pvt_key=$(PVT_KEY)'
        

      - run: echo ${{ steps.plan.outputs.stdout }}
      - run: echo ${{ steps.plan.outputs.stderr }}
      - run: echo ${{ steps.plan.outputs.exitcode }}